/* main font size */
html {
    font-size: 62.5% !important;
}

/* body styles */
body {
    background-color: #eee;
    overflow-x: hidden;
}

/* My Frame Work */
.w-80 {
    width: 80% !important;
}

.h-fit {
    height: fit-content;
}

/* Body Header Style */
body header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    background-color: #e19f26;
    z-index: 998;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* designer photo */
.navbar .logo .photo-designer {
    width: 6rem;
    height: 6rem;
    border-radius: 100px;
}

.navbar .container-nav {
    width: 54%;
}

.navbar .container-nav ul {
    justify-content: space-evenly;
}

.navbar .container-nav ul li {
    width: 100%;
}

.nav-link {
    color: black;
    font-size: clamp(1rem, 2vw, 2rem);
    text-align: center;
    border-radius: 20px;
    transition: 1s ease-in-out;
}

.nav-link.active {
    background-color: black;
    color: #e19f26 !important;
}

.hamburger-parent {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

@media (max-width: 480px) {
    .hamburger-parent {
        display: flex;
    }

    .container-nav {
        display: none;
    }
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 3rem;
    z-index: 1001;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 0.3rem;
    background-color: black !important;
    margin: 0.3rem 0;
    border-radius: 5px;
}

.sidebar {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 20px 0 0 20px;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar ul {
    position: relative;
    top: 65px;
}

.sidebar .nav-list {
    flex-direction: column !important;
}

.sidebar .nav-link {
    color: #aaa;
    font-size: 2rem;
    padding: 2rem;
    margin-left: 2rem;
}

.sidebar .nav-link:hover {
    color: white;
}

/* Titles Style */
.title {
    background: #e19f26;
    width: 12rem;
    min-width: 20%;
    height: 4rem;
    margin: auto;
    align-content: center;
    border-radius: 10px;
    border-bottom: solid black;
    box-shadow: 0px 0px 7px 1px black;
}

.services a {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 32%;
    min-width: 30rem;
    height: 50vh;
    overflow: hidden;
    background-size: 100%;
    background-position: center;
    color: black;
    border: solid 1px black;
    box-shadow: 0px 0px 7px 1px black;
    transition: background-size 600ms ease;
}

.services a:hover {
    background-size: 130%;
    color: #e19f26;
    border: solid 0 #e19f26;
    box-shadow: 0px 0px 7px 1px #e19f26;
}

.services a * {
    font-size: 0rem;
    transition: 600ms;
}

.services a:hover * {
    font-size: 4rem;
}

/* Services Links Backgrounds Style */
a.design {
    background-image: url("home/images/services/2951471.webp");
}

a.photo {
    background-image: url("home/images/services/4738.webp");
}

a.video {
    background-image: url("home/images/services/2206_w039_n003_255b_p1_255.webp");
}

/* Design Links Backgrounds Style */
a.logo {
    background-image: url("home/images/design/8082114.webp");
}

a.social-media {
    background-image: url("home/images/design/312071-P9COAA-428.webp");
}

a.print {
    background-image: url("home/images/design/5121953.webp");
}

/* Photo Links Backgrounds Style */
a.event {
    background-image: url("home/images/photo/3998.webp");
}

a.food {
    background-image: url("home/images/photo/43589.webp");
}

a.portrait {
    background-image: url("home/images/photo/1844.webp");
}

a.product {
    background-image: url("home/images/photo/8401852.webp");
}

a.sport {
    background-image: url("home/images/photo/757.webp");
}


/* Design Style */
.designgraphy .design-home img {
    height: 100%;
}

/*  Photo Style:
    Image-Home Style When Get Active*/
@media (min-width: 769px) {
    .photography .container .img-home.active {
        position: fixed !important;
        top: 52% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
        width: 70vw;
        height: 90vh;
        margin: 0;
        border-radius: 20px;
        z-index: 10000;
        background-color: black;
    }
}

/* Images Style */
.img-style {
    padding: 0.5rem;
    border: solid 0.1rem #aaa;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.photography .container img:hover {
    box-shadow: 0 0 2px 1px black;
}

/* Iframe Style */
.iframe-home {
    position: relative;
    width: fit-content;
}

.videography .container-videos iframe {
    min-width: 38rem;
    height: 25rem;
    border: solid 0.1rem #aaa;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.iframe-home .cover {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Contact Style */
.contact .contact-inner {
    gap: 4rem;
}

@media (max-width: 767px) {
    .contact .contact-inner {
        gap: 0;
    }
}

.contact .img-contact img {
    max-height: 42rem;
}

.contact .info-contact {
    width: 100%;
    max-width: 30rem;
    min-width: 27rem;
    font-size: initial;
}

:root {
    --back-gd-parent: white;
    --color-child-wa: green;
    --color-child-fa: blue;
    --color-child-in: purple;
    --color-child-em: black;
}

.contact .info-contact a {
    width: 100%;
    height: 5rem;
    padding: 2rem;
    border: solid;
    border-radius: 20px;
    font-size: clamp(1.5rem, 2vw, 2rem);
    transition: 0.5s;
}

.contact .info-contact> :nth-child(1) {
    background: linear-gradient(to left, white 50%, green 50%);
    background-position: right;
    background-size: 200% 100%;
    color: green;
}

.contact .info-contact> :nth-child(2) {
    background: linear-gradient(to left, white 50%, blue 50%);
    background-position: right;
    background-size: 200% 100%;
    color: blue;
}

.contact .info-contact> :nth-child(3) {
    background: linear-gradient(to left, white 50%, purple 50%);
    background-position: right;
    background-size: 200% 100%;
    color: purple;
}

.contact .info-contact> :nth-child(4) {
    background: linear-gradient(to left, white 50%, black 50%);
    background-position: right;
    background-size: 200% 100%;
    color: black;
}

.contact .info-contact> :nth-child(1):hover {
    background-position: left;
    color: white;
    border: solid green;
}

.contact .info-contact> :nth-child(2):hover {
    background-position: left;
    color: white;
    border: solid blue;
}

.contact .info-contact> :nth-child(3):hover {
    background-position: left;
    color: white;
    border: solid purple;
}

.contact .info-contact> :nth-child(4):hover {
    background-position: left;
    color: white;
    border: solid black;
}

.contact .info-contact a {
    text-decoration: none;
    color: inherit;
}